:root{
        --BG_COLOR: #222;
        --MAIN_COLOR: rgba(230, 206, 247, 0.808);
        --SECONDARY_COLOR:rgba(240, 179, 155, 0.63);
}

body{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-color: var(--BG_COLOR);
    color: var(--MAIN_COLOR);
}

.minesweeper-board table{
    margin:auto;
}

.mo{
    display: inline-block;
}
h1.difficulty{
    letter-spacing: 10px;
    transform: skew(5deg);
    display: block;
    text-align: center;
    background-color: var(--MAIN_COLOR);
    color:var(--BG_COLOR);
    padding: 5px;
    transition: .2 ease-out;
}

button.difficulty{
    font-family: monospace;
    display: block;
    margin: auto;
    padding:15px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 5px;
    border-radius: 15px;
    background-color: var(--MAIN_COLOR);
    color: var(--BG_COLOR);
    opacity: 50%;
    transition: .2s ease-out;
    box-shadow: 7px 15px 12px 7px rgba(0, 0, 0, 0.479);
}
button.difficulty:hover{
    letter-spacing: 10px;
    transition: .2s ease-in;
    opacity:75%;
    color:white;
    transform: skew(-15deg);
    box-shadow: 7px 11px 2px 2px rgba(255, 255, 255, 0.459);
}


/* .minesweeper{
    height: 100vh;
    width: 100vw;
} */

table { 
    display:absolute;
    margin:auto; 

}

table .cell{
    font-family: monospace;
    display: inline-block;
    font-size: auto;
    margin: auto;
    box-shadow: 7px 11px 20px 5px #000000;
    border-radius: 5px;
    opacity: 50%;
    height:45px;   
    width: 45px;
    background-color: var(--MAIN_COLOR);
    color: var(--BG_COLOR);
    transition: .2s ease-out;
}
.cell:hover{
    opacity: 75%;
    transform: scale(1.2);
    transition: .2s ease-in;
}
.cell.marked{
    background-color: var(--SECONDARY_COLOR);
    opacity: 45%;
}

.minesweeper-modal{
    margin:auto;
    text-align: center;
}

.cell.shown{
    background-color: white; 
    opacity: 80%;
}

 

.timer.hidden{
 visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 5s, opacity 5s;
}
.timer.shown{
    /* animation-name: fadeIn;
    animation-duration: 2s; */
     visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 5s;
}

.timer{


    
    width: 30vw;
    border-radius: 15px;
    box-shadow: 7px 11px 20px 15px #00000059;
    margin: auto;
    text-align: center;
    font-size: 10px;
    background-color: var(--SECONDARY_COLOR);
    opacity: 35%;
    color: var(--BG_COLOR);
}
.timer:hover{
    opacity: 75%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
